/* TITLE BAR */
.titleBar {
  width: 100%;
  height: 80px;
  background: white;
  color:rgb(78, 42, 132);
  z-index: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0px;
}

.titleLinks {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.titleName {
  font-family: 'Playfair Display', serif;
  font-size: 42px;
  padding-left: 15px;
}

.linkNoStyle {
  text-decoration: none;
  color: inherit;
}

.titleLink {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0px 16px;
}

.titleLink:hover {
  box-shadow: inset 0 -4px 0 0 rgb(78, 42, 132);
}

/*BODY STYLES*/
body {
  font-family: 'Lora', serif;
  margin: 0;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Source Sans Pro', sans-serif;
}
