body, html {
  height: 100%;
}

.navbar {
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;

    /* the rest of your styling */
}

.bg {
  background: linear-gradient( rgba(112, 81, 116,.75), rgba(112, 81, 116,.75) ), url("../img/arch-purple.jpg");
  background-size:cover;
  background-attachment: fixed;
}

#chris-title-white {
  font-family: 'Playfair Display';
  color: #f8f9fa !important;
  font-size: 2rem;
}

#chris-title {
  font-family: 'Playfair Display';
  color: rgb(78, 42, 132) !important;
  font-size: 2rem;
}

.resume-section {
  /* border-left-color: var(--primary) !important;
  border-left-width: 4px !important; */
  /* padding-left: 10px !important;
  border-left: 4px solid rgb(119, 109, 138) !important; */
  border-width: 5px !important;
}

.side-image {
  width: 15% !important;
  height: 15% !important;
  min-width: 200px;
}

.img-small {
  height: 8rem !important;
  width: 8rem !important;
}

.large-icon {
  height: 20rem;
  width: 20rem;
}

.social-icons .social-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 3.5rem;
  width: 3.5rem;
  background-color: #343a40;
  color: #fff;
  border-radius: 100%;
  font-size: 1.5rem;
  margin-right: 1.5rem;
}
.social-icons .social-icon:last-child {
  margin-right: 0;
}
.social-icons .social-icon:hover {
  background-color: #776d8a ;
}

@media (min-width: 991.98px) { 
  .mx-md-30p {
    margin-left: 15% !important;
    margin-right: 15% !important;
  }
}

@media (max-width: 720px) {
  .display-1 {
    font-size: 4rem !important;
  }
}
@media (min-width: 720px) {
  .d-flex-md {
    display: flex;
  }
}

.max-ch-lg {
  max-width: 70ch;
}

.bg-offwhite {
  background: #faf9f9 !important;
}